
table{
width:780px;
}
table, th
{
font-size:36px
}
table, td, th
{
margin-left  : auto;
 margin-right : auto;
border:1px solid black;
}
 body{
	background-image:url("../images/background.jpg");
	background-color:#cccccc;
	
 }
 .button{
	  padding:20px;
	  color:red;
	  background-color:grey;
	  border:none;
	
}
#checkout
{
  border      : green solid thin;
  margin-left : 190px;
  padding-right:20px;
  padding-top:10px;
  min-height  : 90px;
  text-align:right;
}

#logo
{
  text-align:center;
  color:white;
  border : black thin solid;
  width  : 190px;
  height : 100px;
  float  : left;
}
.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477) );
	background:-moz-linear-gradient( center top, #fb9e25 5%, #ffc477 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
	background-color:#fb9e25;
}.classname:active {
	position:relative;
	top:1px;
}
div#container
{
  position     : relative;
  width        : 900px;
  margin-left  : auto;
  margin-right : auto;
  border-radius : 25px;
  border : thin red solid;
     background-image:url(../images/old-paper.jpg);
  opacity: 0.7;
  filter: alpha(opacity = 40);

  }
  
 #login
	 {	
	margin-top:400px;
	margin-left  : auto;
 	margin-right : auto;
	text-align:center
	width:500px;
 	border : thin orange solid;
	border-radius : 25px;
	color:#FFF;
 }



#quant
{
	width:30px;
}

#itemButton:hover 
{
	background-color:#066;
	color:white;
}
#itemButton
{
	min-width:90px;
	height:50px;
	color:Black;
	background-color:rgba(20,224,224,0.5); 

}

#itemInputBar
{
	padding:5px;
	border: solid thin red;
	min-height:20px;
	border-radius : 25px;
	padding-left:100px;

}
/*Receipt layout*/

#no{
	width:50px;
}
#item{
	min-width:300px;
}
#price{
	min-width:190px;	
}
#quantity
{
	width:100px;
}
#total
{
	width:100px;
}
.alignRigh
{
	text-align:right;
}
.alignCenter
{
	text-align:center;
}

div#itemsButtons
{
	
  width  :94%;
  height : 30px;
  border : thin gray solid;  
  min-height  : 200px; 
  border-radius : 25px;
  padding:2%;
  padding-left:35px;
 
}

div#invoice
{
  border      : green solid thin;
  min-height  : 150px; 
  border-radius : 25px;
  padding:1%;
}


div#topmenu
{  
  border : blue thin solid;
  height : 20px;
   padding:2px;
} 
div#copyright
{
	color:black;
  
  text-align:center;
	padding:2px;
}